# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
data_minimal/
*.egg-info/
*.spec
run_canteenvision.py
*.exe
Khởi động CanteenVision*
CanteenVision_Setup*
installer.nsi
hook-tensorflow.py
hook-torch.py
hook-ultralytics.py
my_hook.py

# Virtual environments
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Dataset ignores - excluding image and label files
data/an com.v11-train-lan-3.yolov8/

# Keep yaml and other configuration files
!data/an com.v11-train-lan-3.yolov8/data.yaml

# Temporary files
data/cropped_items/
temp/
*.tmp

# PyInstaller related files
*.manifest
*.spec
build_exe.py
run_canteenvision.py

# OS specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Windows specific
*.pyd
*.dll